@media (min-width: 768px) {
    #content {
        border-top: 1px solid #b6b1a9;
        border-left: 1px solid #b6b1a9;
        margin-left: 0;
        padding-left: 55px;
    }
}

@media (min-width: 1200px) {
   div#sidebar-first.sidebar.site-sidebar-first.span3 {
    width: 236px;
    }
}
