/**** HEADER ****/

.header {
    padding-bottom: 20px;
	background-color: #FFF;
	min-height: 40px;
}


/*** LOGO ***/

#header #logo img {
    max-width: 440px;
}

@media (max-width: 480px) {

    #header #logo.logo-mobile img {
    max-width: 95%;
}
}
