/* Styles for the SoE MailChimp Email block */


.mailchimp-soe-block {
    margin-bottom: 45px;
}

.mailchimp-soe-block p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #333333;
}

#mc_embed_signup_scroll p {
    padding-right: 10px;
}

.mailchimp-soe-block #mc_embed_signup_scroll {
    padding: 50px;
}



.mailchimp-soe-block #mc_embed_signup_scroll {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    background: #ffffff;
    padding: 35px;
    text-align: center;
}

.mailchimp-soe-block #mc_embed_signup_scroll h2 {
    margin-bottom: 0;
}

.mailchimp-soe-block #mc_embed_signup_scroll p {
    margin-bottom: 1.8em;
}

.mailchimp-soe-block #mc_embed_signup_scroll p {
    line-height: 1.3em;
    margin-top: 10px;
}

.mailchimp-soe-block #mc_embed_signup_scroll .mc_signup_submission_wrapper {
    display: flex;
    justify-content: center;
}

.mailchimp-soe-block #mc_embed_signup_scroll .mc-field-group {
    float: none;
}


#mc_embed_signup_scroll button,
#mc_embed_signup_scroll input,
#mc_embed_signup_scroll select,
#mc_embed_signup_scroll textarea {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#mc_embed_signup_scroll .uneditable-input,
#mc_embed_signup_scroll input,
#mc_embed_signup_scroll textarea {
    width: 110px;
}

#mc_embed_signup_scroll #mc-embedded-subscribe.button,
#mc_embed_signup_scroll #mc-embedded-subscribe input {
    background-color: #b1040e;
    border-style: none;
    color: #ffffff;
    margin-left: 0.7em;
}

#mc_embed_signup_scroll input.button {
    height: 43px;
    padding: 0 13px 3px;
    -webkit-border-radius: 0;
    width: 76px;
}

.mailchimp-soe-block input[type="email"] {
    height: 30px;
    padding: 4px 13px 7px;
}

.mailchimp-soe-block #mc_embed_signup_scroll .mc-field-group input {
    width: 400px;
    box-shadow: none;
    border-radius: 0;
}

@media (max-width: 767px) {
    .mailchimp-soe-block #mc_embed_signup_scroll .mc-field-group input {
        width: 200px;

    }
    #mc_embed_signup_scroll #mc-embedded-subscribe.button,
    #mc_embed_signup_scroll #mc-embedded-subscribe input {
        margin-left: 0.4em;
    }
}