/* Event cards with no image */

:root {
  --event-card__start-cool-color: #53284f;
  --event-card__second-cool-color: #007c92;
  --event-card__third-cool-color: #0098db;
  --event-card__fourth-cool-color: #009b76;

  --event-card__start-warm-color: #53284f;
  --event-card__second-warm-color: #B1040E;
  --event-card__third-warm-color: #eaab00;
  --event-card__fourth-warm-color: #e98300;

  --event-card__more-link-bg-color: #DAD7CB;
}

.event-card a:hover {
  text-decoration: underline;
}
.view-display-id-upcoming_3_2019_no_image_block .view-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.view-display-id-upcoming_3_2019_no_image_block .view-content > div,
.view-display-id-upcoming_3_2019_no_image_block .view-content > div > div,
.view-display-id-upcoming_3_2019_no_image_block .view-content > div > div > div {
  height: 100%;
}

.view-display-id-upcoming_3_2019_no_image_block .view-content > div {
  color: #FFFFFF;
  margin: 0 5% 5% 5%;
}


/* Cool gradient */
.event-card__gradient-cool .view-display-id-upcoming_3_2019_no_image_block .view-content > div:nth-child(1) {
  background: linear-gradient(to right top, var(--event-card__start-cool-color), var(--event-card__second-cool-color));
  margin-left: 0;
}
.event-card__gradient-cool .view-display-id-upcoming_3_2019_no_image_block .view-content > div:nth-child(2) {
  background: linear-gradient(to right top, var(--event-card__second-cool-color), var(--event-card__third-cool-color));
}
.event-card__gradient-cool .view-display-id-upcoming_3_2019_no_image_block .view-content > div:nth-child(3) {
  background: linear-gradient(to right top, var(--event-card__third-cool-color), var(--event-card__fourth-cool-color));
  margin-right: 0;
}

/* Warm gradient */
.event-card__gradient-warm .view-display-id-upcoming_3_2019_no_image_block .view-content > div:nth-child(1) {
  background: linear-gradient(to right top, var(--event-card__start-warm-color), var(--event-card__second-warm-color));
  margin-left: 0;
}
.event-card__gradient-warm .view-display-id-upcoming_3_2019_no_image_block .view-content > div:nth-child(2) {
  background: linear-gradient(to right top, var(--event-card__second-warm-color), var(--event-card__third-warm-color));
}
.event-card__gradient-warm .view-display-id-upcoming_3_2019_no_image_block .view-content > div:nth-child(3) {
  background: linear-gradient(to right top, var(--event-card__third-warm-color), var(--event-card__fourth-warm-color));
  margin-right: 0;
}

.view-display-id-upcoming_3_2019_no_image_block .view-content .event-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.view-display-id-upcoming_3_2019_no_image_block .view-content .event-card__content {
  padding: 0 10%;
}
.view-display-id-upcoming_3_2019_no_image_block .event-card__content div,
.view-display-id-upcoming_3_2019_no_image_block .event-card__content h3 {
  margin: 10% 0;
}

.view-display-id-upcoming_3_2019_no_image_block .view-content .edit-link {
  padding: 8%;
}
.view-display-id-upcoming_3_2019_no_image_block .view-footer {
  margin-top: 3%;
}
.view-display-id-upcoming_3_2019_no_image_block .view-footer p {
  text-align: center;
}
.view-display-id-upcoming_3_2019_no_image_block .view-footer .btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: #b1040e;
  border-radius: 0;
  color: white;
}
.view-display-id-upcoming_3_2019_no_image_block .view-footer a.btn:hover {
  text-decoration: underline;
}
.view-display-id-upcoming_3_2019_no_image_block .view-content .event-card__date {
  border: solid white 1px;
  padding: 3px 6px;
  text-transform: uppercase;
  width: 3em;
  height: 3em;
}
.view-display-id-upcoming_3_2019_no_image_block .view-content h3 a {
  color: white;
  font-weight: bold;
}

.view-display-id-upcoming_3_2019_no_image_block .event-card__footer {
  align-self: flex-end;
  margin-top: auto;
  width: 100%;
}
.view-display-id-upcoming_3_2019_no_image_block .event-card__more-info {
  background: var(--event-card__more-link-bg-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  margin: 0 8% 5% 8%;
  padding: 5%;
  text-align: center;
}
