/* Top Level Menu */
#main-menu {
    background: #B1040E;
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 8px;
}

.navbar .nav > li.dropdown.active-trail > a,
.navbar .nav > li.dropdown > a:hover,
.navbar .nav > li.dropdown.open > .dropdown-toggle,
.navbar .nav > li.dropdown.active > .dropdown-toggle,
.navbar .nav > li.dropdown.open.active > .dropdown-toggle,
.navbar .nav > li > a {
    background-color: #B1040E;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
