/* Second level Menu */
.navbar .nav > li > ul.dropdown-menu > li > a {
    color: white;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0.01em;
    line-height: 16px;
    white-space: normal;
}
.navbar .nav > li > ul.dropdown-menu > li.active-trail > a,
.navbar .nav > li > ul.dropdown-menu > li > a:hover {
    background: #53284f;
    color: white;
    font-size: 15px;
}

.dropdown-menu {
    background-color: #B1040E;
    color: white;
    margin-top: 27px;
    padding: 10px;
    right: 6px;
    border-radius: 0;
    min-width: 210px;
}

.dropdown-menu li.leaf .nolink {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.015em;
    margin-right: 20px;
    padding: 5px 2px 5px 2px;
    text-transform: uppercase;
}

.dropdown-menu li.leaf a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #FFF;
    font-weight: 300;
    padding: 05px 2px 5px 2px;
}

.open::after {
    border-bottom: 17px solid #B1040E;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    height: 0;
    left: 40%;
    position: absolute;
    top: 40px;
    width: 0;
    z-index: 1000;
}

.caret {
    display: none;
}

hr {
    margin: 5px 0;
    border: 0;
    border-bottom: 1px dashed #fff;
}
