.full-width-banner .banner-overlay > div h2 a,
.full-width-banner .banner-overlay > div h2 a:hover {
  color: #B1040E;
}

.full-width-banner .banner-overlay > div {
  background: #F9F6EF;
  bottom: 0;
  color: #2E2D29;
  width: 52%;
}

.full-width-banner .banner-overlay.carousel-position-right > div {
  right: 0;
}
.full-width-banner .banner-overlay.carousel-position-left > div {
  left: -8%;
}

@media (max-width: 1300px) {
  .full-width-banner .banner-overlay.carousel-position-left > div {
    left: 0;
  }
  .full-width-banner .banner-overlay.carousel-position-right > div {
    right: 7%;
    width: 48%;
  }
}
@media (max-width: 979px) {
.full-width-banner .banner-overlay.carousel-position-left > div,
.full-width-banner .banner-overlay.carousel-position-right > div {
    margin-left: 0;
    max-width: 100%;
    position: inherit;
    width: 100%;
}
.full-width-banner .banner-overlay.carousel-position-right,
.full-width-banner .banner-overlay.carousel-position-left {
    height: auto;
    position: inherit;
    width: 100%;
}
}
