.span8 .span12 a {
    color: #b1040e;
    text-decoration: underline;
    font-weight: 400;
}


.active-trail active a {
    text-transform: none;
}

.content .btn-red a {
    background: linear-gradient(180deg,#e60009 0%,#B1040e 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 60px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: Source Sans Pro;
}
