/* Subsite footers */
/* See ticket https://stanfordits.atlassian.net/browse/UE-159 */

:root {
  --bg-color: #f0ede8;
  --btn-bg-color: #8B1515;    /* red */
  --text-color-dark: #000;
  --text-color-light: white;
  --color-highlight: #8B1515;    /* red */
}

#footer {
  background-color: var(--bg-color);
  background-image: none;
  color: var(--text-color-dark);
}

#footer h2,
#footer h3 {
  color: var(--text-color-dark);
}
#footer a:focus,
#footer a:hover {
  color: var(--text-color-dark);
  text-decoration: underline;
}
#footer a {
  color: var(--color-highlight);
  text-decoration: none;
}
#footer a.btn,
#footer a.more-link {
  background-color: var(--btn-bg-color);
  color: var(--text-color-light);
  text-decoration: none;
  padding: 10%;
}
#footer a.btn:focus,
#footer a.btn:hover,
#footer a.more-link:focus,
#footer a.more-link:hover {
  background-color: var(--btn-bg-color);
  color: var(--text-color-light);
  text-decoration: underline;
  padding: 10%;
}
#footer a i {
  color: var(--color-highlight);
  font-size: 3rem;
}

/* Subsites
programs/bosp
programs/bosp/*
advising/approaching-stanford
advising/approaching-stanford/*
programs/arts-intensive
programs/arts-intensive/*
academic-planning/cardinal-compass
academic-planning/cardinal-compass/*
tutoring-support/hume-center
tutoring-support/hume-center/*
programs/introsems
programs/introsems/*
programs/lelandscholars
programs/lelandscholars/*
programs/pwr
programs/pwr/*
opportunities/research
opportunities/research/*
programs/residential
programs/residential/*
sophomore-college
sophomore-college/*
stanford-in-new-york
stanford-in-new-york/*
programs/stanford-in-new-york
programs/stanford-in-new-york/*
thinking-matters
thinking-matters/*
ways
ways/*

end of subsite list */
