/* Subsite */

:root {
  --subsite-header-bg-color: #FFFFFF;
  --subsite-mobile-menu-color: #FFFFFF;
  --subsite-mobile-menu-background: #b1040e;    /* red */
  --subsite-search-form-color: #2e2d29; /* black */
  --subsite-social-media-color: #2e2d29; /* black */
  --subsite-social-media-highlight-color: #8B1515;    /* red */
  --subsite-text-color-dark: #2e2d29; /* black */
}


/** Header & lockup **/

body  #block-search-form input.search-query {
  color: var(--subsite-text-color-dark, #2e2d29);
  color: #2e2d29;
  box-shadow: 0 0 0 1.5px var(--subsite-search-form-color, #2e2d29);
  box-shadow: 0 0 0 1.5px #2e2d29;
  background-color: var(--subsite-header-bg-color, #FFFFFF);
  background-color: #FFFFFF;
}
#header,
#header a,
#main-nav,
#main-menu,
#site-name a,
#site-name a:hover,
.navbar .nav > li > a,
.navbar .nav > li.dropdown.active-trail > a,
.navbar .nav > li.dropdown.active > .dropdown-toggle,
.site-main-menu {
  background-color: var(--subsite-header-bg-color, #FFFFFF);
  background-color: #FFFFFF;
  color: var(--subsite-text-color-dark, #2e2d29);
  color: #2e2d29;
}

.navbar .nav > li.dropdown.open > .dropdown-toggle,
.navbar .nav > li.dropdown > a:hover:hover,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background-color: var(--subsite-header-bg-color, #FFFFFF);
  background-color: #FFFFFF;
  color: var(--subsite-text-color-dark, #2e2d29);
  color: #2e2d29;
  text-decoration: underline;
}

.navbar-inner {
  background-color: var(--subsite-header-bg-color, #FFFFFF);
  background-color: #FFFFFF;
}


#header #logo img {
  max-width: 179px !important;
}

/** Subsite Search bar **/

input[type="text"].search-query:-moz-placeholder {  /* Firefox 18- */
  color: var(--subsite-search-form-color, #2e2d29);
  color: #2e2d29;
}
input[type="text"].search-query::-moz-placeholder { /* Firefox 19+ */
  color: var(--subsite-search-form-color, #2e2d29);
  color: #2e2d29;
}
input[type="text"].search-query:-ms-input-placeholder { /* IE 10+ */
  color: var(--subsite-search-form-color, #2e2d29);
  color: #2e2d29;
}
input[type="text"].search-query::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--subsite-search-form-color, #2e2d29);
  color: #2e2d29;
}
input[type="text"].search-query::placeholder {
  color: var(--subsite-search-form-color, #2e2d29);
  color: #2e2d29;
}
body #block-search-form input.search-query:active,
body #block-search-form input.search-query:hover,
body #block-search-form input.search-query {
  background: url(/sites/undergrad/themes/undergrad_2019/images/sws-magnifying-glass-black.svg) no-repeat 0 center;
}
body #block-search-form input.search-query:focus {
  background: url(/sites/undergrad/themes/undergrad_2019/images/sws-magnifying-glass-black.svg) no-repeat 160px center;
}

/** Subsite Mobile Menu and Headers  **/
/* https://stanfordits.atlassian.net/browse/UE-199 */

@media (max-width: 767px) {
  #main-menu,
  .site-main-menu{
    color: var(--subsite-mobile-menu-color, #FFFFFF);
    color: #FFFFFF;
  }

  #main-menu,
  .navbar .nav > li,
  .navbar .nav > li > a,
  .navbar .nav > li > li > a ,
  .navbar .nav > li > a:focus,
  .navbar .nav > li > a:hover,
  .navbar .nav > li > a:focus,
  .navbar .nav > li > a:active,
  .navbar .nav > li > a:hover,
  .navbar .nav > li.dropdown > a:hover,
  .navbar .nav > li.dropdown > a:hover:hover,
  .navbar .nav > li.dropdown.active-trail > a,
  .navbar .nav > li.dropdown.open > .dropdown-toggle,
  .navbar .nav > li.dropdown.active > .dropdown-toggle,
  .navbar .nav > li.dropdown.open.active > .dropdown-toggle {
    background-color: var(--subsite-mobile-menu-background, #b1040e);
    background-color: #b1040e;
    color: var(--subsite-mobile-menu-color, #FFFFFF);
    color: #FFFFFF;
  }


  /* Subsite Mobile Search bar */

  body #block-search-form input.search-query:focus,
  body #block-search-form input.search-query:active,
  body #block-search-form input.search-query:hover,
  body #block-search-form input.search-query {
    background: url(/sites/undergrad/themes/undergrad_2019/images/sws-magnifying-glass-white.svg) no-repeat 0 center;
    box-shadow: 0 0 0 1.5px var(--subsite-mobile-menu-color, #FFFFFF);
    box-shadow: 0 0 0 1.5px #FFFFFF;
    color: var(--subsite-mobile-menu-color, #FFFFFF);
    color: #FFFFFF;
  }

  input[type="text"].search-query:-moz-placeholder {  /* Firefox 18- */
    color: var(--subsite-mobile-menu-color, #FFFFFF);
    color: #FFFFFF;
  }
  input[type="text"].search-query::-moz-placeholder { /* Firefox 19+ */
    color: var(--subsite-mobile-menu-color, #FFFFFF);
    color: #FFFFFF;
  }
  input[type="text"].search-query:-ms-input-placeholder { /* IE 10+ */
    color: var(--subsite-mobile-menu-color, #FFFFFF);
    color: #FFFFFF;
  }
  input[type="text"].search-query::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--subsite-mobile-menu-color, #FFFFFF);
    color: #FFFFFF;
  }
  input[type="text"].search-query::placeholder {
    color: var(--subsite-mobile-menu-color, #FFFFFF);
    color: #FFFFFF;
  }
  body #block-search-form input.search-query:active,
  body #block-search-form input.search-query:hover,
  body #block-search-form input.search-query {
    background: url(/sites/undergrad/themes/undergrad_2019/images/sws-magnifying-glass-white.svg) no-repeat 0 center;
  }
  body #block-search-form input.search-query:focus {
    background: url(/sites/undergrad/themes/undergrad_2019/images/sws-magnifying-glass-white.svg) no-repeat 160px center;
  }
  input:-internal-autofill-selected {
    background-color: var(--subsite-mobile-menu-background, #b1040e) !important;
    /*background-image: none !important;*/
    color: var(--subsite-mobile-menu-color, #FFFFFF) !important;
    color: #FFFFFF;
  }
}

/* Subsite Paths:
programs/bosp
programs/bosp/*
advising/approaching-stanford
advising/approaching-stanford/*
programs/arts-intensive
programs/arts-intensive/*
academic-planning/cardinal-compass
academic-planning/cardinal-compass/*
tutoring-support/hume-center
tutoring-support/hume-center/*
programs/introsems
programs/introsems/*
programs/lelandscholars
programs/lelandscholars/*
programs/pwr
programs/pwr/*
opportunities/research
opportunities/research/*
programs/residential
programs/residential/*
programs/residential-programs
programs/residential-programs/*
sophomore-college
sophomore-college/*
subsites/sophomore-college
subsites/sophomore-college/*
programs/sophomore-college
programs/sophomore-college/*
stanford-in-new-york
stanford-in-new-york/*
programs/stanford-in-new-york
programs/stanford-in-new-york/*
thinking-matters
thinking-matters/*
subsites/thinking-matters
subsites/thinking-matters/*
programs/thinking-matters
programs/thinking-matters/*
ways
ways/*
programs/ways
programs/ways/*


end of subsite paths */
