/* Subsite footers */
/* See ticket https://stanfordits.atlassian.net/browse/UE-159 */

:root {
  --bg-color: #f0ede8;
  --btn-bg-color: #8B1515;    /* red */
  --text-color-dark: #2e2d29; /* black */
  --text-color-light: white;
  --color-highlight: #8B1515;    /* red */
  --subsite-search-form-color: #2e2d29; /* black */
  --header-bg-color: white;
}


/** Header & lockup **/

body.page-node-7589 #block-search-form input.search-query {
    color: var(--text-color-dark);
    box-shadow: 0 0 0 1.5px var(--subsite-search-form-color);
    background-color: var(--header-bg-color);
}

.page-node-7589 .navbar .nav > li > a,
.page-node-7589 #main-nav,
.page-node-7589 #main-menu,
.page-node-7589 .site-main-menu,
.page-node-7589 #header,
.page-node-7589 #header a {
    background-color: var(--header-bg-color);
    color: var(--text-color-dark);
}
.page-node-7589 .navbar .nav > li.dropdown.open > .dropdown-toggle,
.page-node-7589 .navbar .nav > li.dropdown > a:hover:hover,
.page-node-7589 .navbar .nav > li > a:hover,
.page-node-7589 .navbar .nav > li > a:focus {
  background-color: var(--header-bg-color);
  color: var(--text-color-dark);
  text-decoration: underline;
}

/** Subsite Search bar **/
 input[type="text"].search-query:-moz-placeholder {  /* Firefox 18- */
     color: var(--subsite-search-form-color);
 }
  input[type="text"].search-query::-moz-placeholder { /* Firefox 19+ */
     color: var(--subsite-search-form-color);
 }
 input[type="text"].search-query:-ms-input-placeholder { /* IE 10+ */
     color: var(--subsite-search-form-color);
 }
 input[type="text"].search-query::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--subsite-search-form-color);
}
 input[type="text"].search-query::placeholder {
     color: var(--subsite-search-form-color);
}
body #block-search-form input.search-query {
    background: url(../images/sws-magnifying-glass-black.svg) no-repeat 0 center;
}

/** Footers **/

#footer {
  background-color: var(--bg-color);
  background-image: none;
  color: var(--text-color-dark);
}

#footer h2,
#footer h3 {
  color: var(--text-color-dark);
}
#footer a:focus,
#footer a:hover {
  color: var(--text-color-dark);
  text-decoration: underline;
}
#footer a {
  color: var(--color-highlight);
  text-decoration: none;
}
#footer a.btn,
#footer a.more-link {
  background-color: var(--btn-bg-color);
  color: var(--text-color-light);
  text-decoration: none;
  padding: 10%;
}
#footer a.btn:focus,
#footer a.btn:hover,
#footer a.more-link:focus,
#footer a.more-link:hover {
  background-color: var(--btn-bg-color);
  color: var(--text-color-light);
  text-decoration: underline;
  padding: 10%;
}
#footer a i {
  color: var(--color-highlight);
  font-size: 3rem;
}

/* Subsite Paths:
programs/bosp
programs/bosp/*
advising/approaching-stanford
advising/approaching-stanford/*
programs/arts-intensive
programs/arts-intensive/*
academic-planning/cardinal-compass
academic-planning/cardinal-compass/*
tutoring-support/hume-center
tutoring-support/hume-center/*
programs/introsems
programs/introsems/*
programs/lelandscholars
programs/lelandscholars/*
programs/pwr
programs/pwr/*
opportunities/research
opportunities/research/*
programs/residential
programs/residential/*
sophomore-college
sophomore-college/*
subsites/sophomore-college
subsites/sophomore-college/*
stanford-in-new-york
stanford-in-new-york/*
programs/stanford-in-new-york
programs/stanford-in-new-york/*
thinking-matters
thinking-matters/*
subsites/thinking-matters
subsites/thinking-matters/*
ways
ways/*
programs/ways
programs/ways/*

end of subsite paths */
