/*Dena moved this to WYSIWIG*/
.summary {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.02em;
}
